#root,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    
}
.cars{
    height: 100%;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(./images/city\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wheels{
    background-color: whitesmoke;
    width: 40%;
    height: 40%;
    box-shadow: 5px 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-family: sans-serif;


}
.button {
    background-color: #32CD32;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}